---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Portada from '../components/Portada.astro';
---

<Layout title="Despedida Adrian y Sarahi">
	<Portada></Portada> 
	
	<main class="sn column">
		<h2 class="paper-b text-larger">Despedida de Solteros</h2> 
		<div class="column gap-4">
			<div class="row gap-4">
				<div class="paper-r border-y">Domingo</div>
				<div class="paper-b text-cyan-700 text-big">28</div>
				<div class="paper-r border-y">A las 2:00 PM</div>
			</div>
			<div class="column gap-3">
				<div class="my-cursive text-larger">Julio</div>
				<div class="paper-r">2024</div>
			</div>
		</div>
		<div class="column gap-2">
			<div class="paper-r text-pretty invitation">Los esperamos para esta ocasión especial en el jardin de Cuca.</div>
			<div class="my-cursive invitation">Rancho Cerro Gordo</div>
		</div>
		<h3 class="my-cursive text-sm border-y">Love is in the air</h3>
	</main>

</Layout>

<style>
	main {
		background-image: url(/img/pattern.jpg);
		opacity: 93%;
		width: 100vw;
  		max-width: 100%;
  		min-height: 100vh;
  		background-repeat: repeat;
		padding: 1rem;

	}

	.border-y{
		border-top: 0.15rem solid #555;
		border-bottom: 0.15rem solid #555;
		padding: 0.3rem;
	}

	.invitation{
		line-height: 2rem;
	}
</style>
