---
import Layout from '../layouts/Layout.astro';
import Portada from '../components/Portada.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Despedida Adrian y Sarahi">
	<Portada></Portada> 
	
	<main class="sn column" id="main">
		<h2 class="paper-b text-larger">Despedida de Solteros</h2> 
		<div class="column gap-4">
			<div class="row gap-4">
				<div class="paper-r border-y">Domingo</div>
				<div class="paper-b text-cyan-700 text-big">28</div>
				<div class="paper-r border-y">A las 2:00 PM</div>
			</div>
			<div class="column gap-3">
				<div class="my-cursive text-larger">Julio</div>
				<div class="paper-b text-cyan-700">2024</div>
			</div>
		</div>
		<div class="column gap-2">
			<div class="my-cursive text-pretty invitation">Los esperamos para esta ocasión especial en el jardin de Cuca.</div>
			<div class="paper-r invitation  border-y">Rancho Cerro Gordo</div>
		</div>
		<h3 class="my-cursive text-sm  text-cyan-700">Love is in the air</h3>
		<Footer></Footer>
	</main>
</Layout>

<style>
	main {
		background-image: url(/img/pattern.jpg);
		opacity: 93%;
		width: 100vw;
  		max-width: 100%;
  		min-height: 100vh;
  		background-repeat: repeat;
		padding: 1rem;
		position: relative;

	}
	.invitation{
		line-height: 2rem;
	}
	
</style>

