<div class="principal-img"></div>
<h1 class="principal-text my-cursive">Adrian y Sarahi</h1>
<div class="space sn"></div>

<style> 
.principal-img{
  position: fixed;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  z-index: -5;
  animation-duration: 7s;
  background-image: url(./img/portada.jpeg);
  background-size:cover;
  margin: auto;
  background-position: 53% 40%;
}

.principal-text{
  position: fixed;
  width: 100vw;
  max-width: 100%;
  padding: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -4;
  text-align: center;
  color: #fafafafa;
  font-size: 4rem;
  animation-duration: 5s;
  animation-name: welcome-text;
  text-align: center;
}
.space{
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
}
</style>