<div class="principal-img"></div>
<h1 class="principal-text my-cursive text-pretty">Adrian y Sarahi</h1>
<div class="space sn" id="clickable"></div>

<style> 
.principal-img{
  position: fixed;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  z-index: -5;
  background-image: url(/img/portada.jpg);
  background-size:cover;
  margin: auto;
  background-position: 53% 40%;
}

.principal-text{
  position: fixed;
  width: 100vw;
  max-width: 100%;
  padding: 2rem;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -4;
  text-align: center;
  color: #fafafafa;
  font-size: 8vw;
  text-align: center;
}
.space{
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
}
</style>
<script>
  const clickable = document.getElementById("clickable")
  clickable.addEventListener('click', ()=>{
    document.getElementById("main").scrollIntoView();
  });
</script>